export type {{pascalCase component}}Props = {
  // {{pascalCase component}}Props type
}

export const {{pascalCase component}} = ({}: {{pascalCase component}}Props) => {
  return <div>{{pascalCase component}}</div>
}
