export type {{properCase feature}}Props = {
  // {{properCase feature}}Props type
}

export const {{properCase feature}} = ({}: {{properCase feature}}Props) => {
  return <div>{{properCase feature}}</div>
}
